@import "tailwindcss";

:root {
  --myBack: #282828;
  --foreground: #171717;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);


  --color-myBack-50: #fafafa;
  --color-myBack-100: #f2f2f2;
  --color-myBack-200: #e6e6e6;
  --color-myBack-300: #d1d1d1;
  --color-myBack-400: #a3a3a3;
  --color-myBack-500: #757575;
  --color-myBack-600: #545454;
  --color-myBack-700: #3d3d3d;
  --color-myBack-800: #242424;
  --color-myBack-900: #121212;
  --color-myBack-950: #0a0a0a;
  --color-myOrange-50: #fafafa;
  --color-myOrange-100: #f2f2f2;
  --color-myOrange-200: #e6e6e6;
  --color-myOrange-300: #d1d1d1;
  --color-myOrange-400: #a3a3a3;
  --color-myOrange-500: #757575;
  --color-myOrange-600: #545454;
  --color-myOrange-700: #3d3d3d;
  --color-myOrange-800: #242424;
  --color-myOrange-900: #121212;
  --color-myOrange-950: #0a0a0a;
  --color-myGray-50: #fafafa;
  --color-myGray-100: #f2f2f2;
  --color-myGray-200: #e6e6e6;
  --color-myGray-300: #d1d1d1;
  --color-myGray-400: #a3a3a3;
  --color-myGray-500: #757575;
  --color-myGray-600: #545454;
  --color-myGray-700: #3d3d3d;
  --color-myGray-800: #242424;
  --color-myGray-900: #121212;
  --color-myGray-950: #0a0a0a;
}

body {
  /* background: var(--myBack); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
